html, body {
    margin: 0;
    font-family: Arial;
}

#container-1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#navbar {
    background-color: #2B2D42;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 50px;
}

#nav-right {
    margin-right: 20px;
    color: white;
    font-size: 1.5rem;
    display: flex;
}

#nav-button {
    padding: 5px 20px;
}

#content-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
    background: url(/img/oofBackground.png) no-repeat;
    background-size: cover;
}

#game-img {
    width: 60%;
    object-fit: contain;
}

#game-img img {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);	
}

#game-bio::before {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    z-index: -1;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

#game-bio {
    background: inherit;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);	
	border-radius: 5px;
	position: relative;
    z-index: 1;
    padding: 20px;
    margin: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%
}

#game-header {
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
}

#game-content {
    font-size: 1.5rem;
    padding: 2rem 0;
}

#game-download {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #4CACE2;
    padding: 20px;
    border-radius: 5px;
}

#content-2 {
    display: flex;
    justify-content: center;
}

#content-2-title {
    font-size: 4rem;
    padding-bottom: 200px;
}