@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
body {
	margin-top: 80px;
	font-family: 'Roboto Condensed';
	text-align: center;
	font-size: 35px;
}

#header {
		background-size: 2%;
		background-color: #0C0B25;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 12%;
		position: fixed;
		left: 0;
		top: 0;
		box-shadow: 0 2px #FFBA31;
}

#logo{ 
    float: left; 
    padding: none; 
    margin: none; 
    width: 100%; 
} 
  
#logo img{ 
    width: 22%; 
    float: left; 
    padding: 27px 30px; 
}

h1 {
	 margin-top: 10%;
}

@media only screen and (max-device-width: 480px) {
	#logo{ 
	    float: left; 
	    padding: none; 
	    margin: none; 
	    width: 100%; 
	} 

	#logo img{ 
	    width: 70%; 
	    float: left; 
	    padding: 55px 50px; 
	}     

	h1 {
		margin-top: 25%;
	}

        #header {
                height: 10%;
        }

}


.seasons {
    font-family: 'Metal Mania';
    text-align: center;
    font-size: 35px;
    color: #F07F41;
    margin-top: 20px;
    line-height: 0.75;
    background-color: #FAFAFA;
    padding: 10px;
    border-radius: 5px;
    border: solid;
    border-color: #DADADA;
    box-shadow: 0 2px #FFBA31;
    width: 80%;
    margin: auto;
}
.seasons p {
    font-family: 'Roboto Condensed';
    color: #0C0B25;
    font-size: 15px;
    line-height: 1.5;
}

.main {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(2px);
  z-index: 0;
}

#arrow {
	fill: url(#mainGradient);
	stroke: url(#mainGradient);
	stroke-width: 0.15px;
	opacity: 0;
	animation: fadeIn 1s ease-out;
	animation-delay: 2s;
  	animation-fill-mode: forwards;
}

#feather {
	fill: url(#mainGradient);
	opacity: 0;
	animation: fadeIn 1s ease-out;
	animation-delay: 1.5s;
  	animation-fill-mode: forwards;
}

#ring1 {
	fill:#0c0b25;	
	opacity: 0;
	z-index:-20;
	transform: rotate(-90deg);
	transform-origin: 53% 53%;
	animation: ringRotate 0.7s ease-in-out;
	animation-delay: 3.5s;
	animation-fill-mode: forwards;
}

	
#ring2 {
	fill:#0c0b25;	
	opacity: 0;
	z-index:-20;
	transform: rotate(90deg);
	transform-origin: 53% 53%;
	animation: ringRotate 0.7s ease-in-out;
	animation-delay: 3.5s;
	animation-fill-mode: forwards;
}


#square {
	fill:#0c0b25;
	opacity: 0;
	animation: fadeIn 1s ease-out;
	animation-delay: 1s;
  	animation-fill-mode: forwards;
}	

@keyframes fadeIn {
     30% {
      opacity: 0;
    }
	100% {
      opacity: 1;
    }
}
	

@keyframes ringRotate {
	20% {
		opacity: 1;
	}
    100% {		
		opacity: 1;
		transform: rotate(0deg);
    }
}
