@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
body {
	margin-top: 80px;
	font-family: 'Roboto Condensed';
	text-align: center;
	font-size: 35px;
}
.heading {
	background-color: #0C0B25;
	background-repeat: no-repeat;
	background-size: 250px;
	background-position: center;
	background-image: url('https://cdn.discordapp.com/attachments/720820630236299337/724995450154778724/Amber_Site_Header.png');
	width: 100%;
	height: 65px;
	position: fixed;
	left: 0;
	top: 0;
	box-shadow: 0 2px #FFBA31;
}
.seasons {
    font-family: 'Metal Mania';
    text-align: center;
    font-size: 35px;
    color: #F07F41;
    margin-top: 20px;
    line-height: 0.75;
    background-color: #FAFAFA;
    padding: 10px;
    border-radius: 5px;
    border: solid;
    border-color: #DADADA;
    box-shadow: 0 2px #FFBA31;
    width: 80%;
    margin: auto;
}
.seasons p {
    font-family: 'Roboto Condensed';
    color: #0C0B25;
    font-size: 15px;
    line-height: 1.5;
}
